<h1>Welcome to CSE Motors!</h1>

<section class="hero">
    <div class="hero-content">
        <h2>DMC Delorean</h2>
        <ul class="hero-features">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="#" class="hero-btn">Own Today</a>
    </div>

    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" width="500" class="hero-image">
</section>

<div class="reviews-upgrades">
    <section aria-labelledby="reviews-heading">
        <h2 id="reviews-heading">DMC Delorean Reviews</h2>
        <ul>
            <li>“So fast it's almost like traveling in time.” (4/5)</li>
            <li>“Coolest ride on the road.” (4/5)</li>
            <li>“I'm feeling McFly!” (5/5)</li>
            <li>“The most futuristic ride of our day.” (4.5/5)</li>
            <li>“80's livin and I love it!” (5/5)</li>
        </ul>
    </section>
    
    <section aria-labelledby="upgrades-heading" class="upgrades">
        <h2 id="upgrades-heading">Delorean Upgrades</h2>
    
        <div class="upgrades-grid">
            <figure class="upgrade-card">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" width="65">
                <figcaption><a href="#" class="upgrade-link">Flux Capacitor</a></figcaption>
            </figure>
    
            <figure class="upgrade-card">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals" width="65">
                <figcaption><a href="#" class="upgrade-link">Flame Decals</a></figcaption>
            </figure>
    
            <figure class="upgrade-card">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" width="65">
                <figcaption><a href="#" class="upgrade-link">Bumper Stickers</a></figcaption>
            </figure>
    
            <figure class="upgrade-card">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" width="65">
                <figcaption><a href="#" class="upgrade-link">Hub Caps</a></figcaption>
            </figure>
        </div>
    </section>


</div>

